.idea/
.dotnet/
.nuget/
build
dependencies/

PGenerated/
PCheckerOutput/
portfolio/

.DS_Store
dependencies.dep

pom.xml
compile.log
portfolio.out
*.out
*.err

Test.cs
*.csproj
*.iml

runs/
._*
stats/*
!stats/common/

bench_results
